<div class="col-md-6 offset-md-3">
    <div style="margin-top: 20px;">
      <h3 class="text-center" style="font-size: 40px;color: #3568f2;">Registro de paciente</h3>
    </div>
      <form (ngSubmit)= "onSubmit()" #pacienteForm = "ngForm" style="margin-bottom: 30px;">
        <div class="form-group">
          <label>Nombre : </label>
          <input type = "text"
          class="form-control"
          id = "nombre"
          [(ngModel)] = "paciente.nombre"
          name = "nombre"
          required
          minlength="4"
          maxlength="60"
          placeholder="Digite el nombre del paciente "
          #nombre = "ngModel"
          >
           <div class="alert alert-danger" *ngIf= "nombre.invalid && (nombre.dirty || nombre.touched)">
            <div *ngIf = "nombre.errors?.['required']">
              Digite el nombre por favor
            </div>
             <div *ngIf = "nombre.errors?.['minlength']">
              El nombre tiene que contener como minimo 4 caracteres
            </div>
            <div *ngIf = "nombre.errors?.['maxlength']">
              El nombre tiene que tener como maximo 60 caracteres
            </div> 
          </div> 
        </div>
    
        <div class="form-group">
          <label>DNI : </label>
          <input type = "text"
          class="form-control"
          id = "dni"
          [(ngModel)] = "paciente.dni"
          name = "dni"
          required
          maxlength="8"
          placeholder="Digite el dni del cliente "
          #dni = "ngModel"
          >
          <div class="alert alert-danger" *ngIf= "dni.invalid && (dni.dirty || dni.touched)">
              <div *ngIf = "dni.errors?.['required']">
                Digite su dni por favor
              </div>
              <div *ngIf = "dni.errors?.['maxlength']">
                El dni tiene que tener como maximo 8 caracteres
              </div>
          </div> 
        </div>
  
        <div class="form-group">
          <label>Dirección : </label>
          <input type = "text"
          class="form-control"
          id = "destino"
          [(ngModel)] = "paciente.direccion"
          name = "direccion"
          required
          minlength="4"
          maxlength="40"
          placeholder="Digite la direccion del paciente "
          #direccion = "ngModel"
          >
         <div class="alert alert-danger" *ngIf= "direccion.invalid && (direccion.dirty || direccion.touched)">
            <div *ngIf = "direccion.errors?.['required']">
              Digite su direccion por favor
            </div>
            <div *ngIf = "direccion.errors?.['minlength']">
              La direccion tiene que contener como minimo 4 caracteres
            </div>
            <div *ngIf = "direccion.errors?.['maxlength']">
              La direccion tiene que tener como maximo 40 caracteres
            </div>
          </div> 
        </div>
  
        <div class="form-group">
          <label>Fecha de nacimiento : </label>
          <input type = "date"
          class="form-control"
          id = "fechaNac"
          [(ngModel)] = "paciente.fechaNac"
          name = "fechaNac"
          required
      
          placeholder="Digite la fecha de nacimiento "
          #fechaNac = "ngModel"
          >
          <div class="alert alert-danger" *ngIf= "fechaNac.invalid && (fechaNac.dirty || fechaNac.touched)">
            <div *ngIf = "fechaNac.errors?.['required']">
              Digite la fecha por favor
            </div>
          </div> 
        </div>
  
        <div class="form-group">
          <label>Nombre del médico : </label>
          <input type = "text"
          class="form-control"
          id = "medico"
          [(ngModel)] = "paciente.medico"
          name = "medico"
          required
          placeholder="Digite el nombre del médico "
          #medico= "ngModel"
          >
          <div class="alert alert-danger" *ngIf= "medico.invalid && (medico.dirty || medico.touched)">
            <div *ngIf = "medico.errors?.['required']">
              Digite el nombre del médico por favor
            </div>
          </div> 
        </div>

        <div class="form-group">
            <label>Fecha de la cita : </label>
            <input type = "date"
            class="form-control"
            id = "fechaCita"
            [(ngModel)] = "paciente.fechaCita"
            name = "fechaCita"
            required
        
            placeholder="Digite la fecha de la cita "
            #fechaCita = "ngModel"
            >
            <div class="alert alert-danger" *ngIf= "fechaCita.invalid && (fechaCita.dirty || fechaCita.touched)">
              <div *ngIf = "fechaCita.errors?.['required']">
                Digite la fecha por favor
              </div>
            </div> 
          </div>
    
    
        <button class="btn btn-primary" [disabled]="!pacienteForm.form.valid">Registrar</button>
      </form>
    </div>
  